<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Howdy <%= @admin.name %>,<br>A new user has registered on SWE Inventory Tracker</h1>
    <p>
        User Name: <%= @user.name %><br> User E-mail: <%= @user.email %> <br>
        If they are an officer of SWE, please authorize them by changing their permission level from 0 to 1.
    </p>
  </body>
</html>