<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have been authorized to use the SWE Inventory Tracker,<br> <%= @user.name %></h1>
    <p>
      You now have access to view and checkout inventory on the website,
      your username is: <%= @user.email %>.<br>
    </p>
  </body>
</html>