<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Howdy<br>,</h1>
    <p>
        This is a friendly reminder to return the item you checked out 2 weeks ago from SWE, 

        Thank you.
    </p>
  </body>
</html>