<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to the SWE Inventory Tracker,<br> <%= @user.name %></h1>
    <p>
      You have successfully signed up,
      your username is: <%= @user.email %>. Please wait to have your account approved by an administrator.<br>
    </p>
  </body>
</html>