<%= link_to("Back to Main Page", access_menu_path, :class => 'back-link') %>

<div class = "checkout/return keys">
  <h1>Key Checkout/Return</h1>

  <%= form_for @user, :url => {:action => 'checkout_or_return_key'}, :method => :post do |f| %>
  <p> Would you like to checkout or return a key? </p>
  
  <div class = "form-buttons">
    <%= f.submit("Checkout Key") %>
    <%= f.submit("Return Key") %>
  </div>

  <% end %>

</div>

